{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row shadow-lg">
        <div class="col">
            <form method="POST" action="" class="ml-5">
                {{ form.hidden_tag() }}
                <fieldset class="form-group ml-5 mt-5">
                    <legend class="border-bottom mb-4">Iniciar Sesion</legend>
                    <div class="form-group">
                        <i class="bi bi-at"></i>
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control ") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <i class="bi bi-shield-lock-fill"></i>
                        {{ form.password.label(class="form-control-label ") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-check ml-3 mb-4">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                    <div class="form-group ml-5">
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col">
            <img src="{{url_for('static', filename='casaka/logo-2.png')}}" alt="" width="400" height="350" class="mt-4 img-fluid">
        </div>
    </div>

</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Necesitas una cuenta? <a class="ml-2" href="{{ url_for('users.register') }}">Registrarse ahora!</a>
    </small>
</div>
{% endblock content %}